name: renovate config

on:
  pull_request:
  merge_group:

jobs:
  validate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/previous-releases#release-schedule
        node-version: [22]
    name: validate config
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: Validate renovate config
        run: npm run validate
